@page "/Hilleditor"
@inherits TexturesAndMaterials
@using PracaInżynierskaTomaszBaczek.Models
@using PracaInżynierskaTomaszBaczek.Services
@using PracaInżynierskaTomaszBaczek.Interfaces
@using Microsoft.Extensions.Logging
@inject ILogger<HillEditor> Logger
@inject IHillService hillService

<h1 align="center">HillEditor</h1>
<p align="center"> Please provide your hill parameters to create your own Deluxe Ski Jump 4 hill!</p>

<div id="editorform" class="col-10">
    <EditForm Model="@inputmodel" OnValidSubmit="@CreateHill">
        <DataAnnotationsValidator />
        <ValidationSummary />
        @*HillSize*@
        <div class="col-12 row">
            <label for="hillsize" class="col-4 font-weight-bold" align="right">Hill size:</label>
            <InputNumber id="hillsize" @bind-Value="@inputmodel.HillSize" class="form-control col-2"/><br />
        </div>
        <br />
        <div class="col-12 row">
            <label for="Texture" class="col-4 font-weight-bold" align="right">Judgetower outside texture:</label>
            <InputSelect id="JudgetowerTextureOut" class="form-control col-2" @bind-Value="@inputmodel.JudgetowerTextureOut">
                @foreach (var item in Textures)
                {
                    <option value="@item.Name.ToString()">@item.Displayname.ToString()</option>
                }
            </InputSelect>
            <input type="color" id="head" name="head" value="@inputmodel.JudgetowerColorOut" class="form-control col-2">
        </div>
        <br />
        <div class="col-12 row">
            <label for="hillname" class="col-4 font-weight-bold" align="right">Hill name:</label>
            <InputText id="hillname" @bind-Value="@inputmodel.HillName" class="form-control col-2" />
        </div>
        <br />
        <div class="col-12 row">
            <label for="countrycode" class="col-4 font-weight-bold" align="right">Country code:</label>
            <InputText id="countrycode" @bind-Value="inputmodel.CountryCode" class="form-control col-2" />
        </div>
            

            <br />
            <button type="submit" class="col-lg-2">Generate hill</button>

    </EditForm>
</div>

@code {
    private UserInputModel inputmodel = new();
    [Parameter]
    public string InColor { get; set; }
    [Parameter]
    public EventCallback<string> ReturnedColor { get; set; }


    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");
    }
    private void CreateHill()
    {

    }





}